:global .ant-menu {
  padding: 20px 0;
}

:global .ant-avatar {
  position: relative;
  top: 10px;
}

:global .ant-menu-submenu, :global .ant-menu-item-selected {
  position: relative;
  top: 10px;
}

.head {
  text-align: center;
}

.head p {
  color: #ccc;
  position: relative;
  top: 10px;
}

.two {
  display: flex;
  padding: 0 20px;
}
